k8sRepos:
  - key: https://pkgs.k8s.io/core:/stable:/v1.29/deb/Release.key
    url: https://pkgs.k8s.io/core:/stable:/v1.29/deb/
    name: v1.29
    state: absent
    suites: "/"
    components: ""
  - key: https://pkgs.k8s.io/core:/stable:/v1.30/deb/Release.key
    url: https://pkgs.k8s.io/core:/stable:/v1.30/deb/
    name: v1.30
    state: absent
    suites: "/"
    components: ""  
  - key: https://pkgs.k8s.io/core:/stable:/v1.31/deb/Release.key
    url: https://pkgs.k8s.io/core:/stable:/v1.31/deb/
    name: v1.31
    state: absent
    suites: "/"
    components: ""  
  - key: https://pkgs.k8s.io/core:/stable:/v1.32/deb/Release.key
    url: https://pkgs.k8s.io/core:/stable:/v1.32/deb/
    name: v1.32
    state: absent
    suites: "/"
    components: ""
  - key: https://pkgs.k8s.io/core:/stable:/v1.33/deb/Release.key
    url: https://pkgs.k8s.io/core:/stable:/v1.33/deb/
    name: v1.33
    state: present
    suites: "/"
    components: ""  
# Doppler
dopplerRepo:
  key: https://packages.doppler.com/public/cli/gpg.DE2A7741A397C129.key
  url: https://packages.doppler.com/public/cli/deb/debian
  suites: any-version 
  components: main
  state: present
# Helm
helmRepo:
  key: https://packages.buildkite.com/helm-linux/helm-debian/gpgkey
  url: https://packages.buildkite.com/helm-linux/helm-debian/any
  suites: any 
  components: main
  state: present
dockerRepo:
  key: https://download.docker.com/linux/ubuntu/gpg
  url: https://download.docker.com/linux/ubuntu
  suites: noble
  components: stable
  state: present
#sudo apt-get install curl gpg apt-transport-https --yes
#curl -fsSL https://packages.buildkite.com/helm-linux/helm-debian/gpgkey | gpg --dearmor | sudo tee /usr/share/keyrings/helm.gpg > /dev/null
#echo "deb [signed-by=/usr/share/keyrings/helm.gpg] https://packages.buildkite.com/helm-linux/helm-debian/any/ any main" | sudo tee /etc/apt/sources.list.d/helm-stable-debian.list
#sudo apt-get update
#sudo apt-get install helm