- name: K8s Worker and Master nodes Kubernetes installation
  hosts: all
  tasks:
    - name: Containerd
      block:
        - name: Containerd key
          become: true
          become_user: root
          ansible.builtin.get_url:
            url: https://download.docker.com/linux/ubuntu/gpg
            dest: /etc/apt/keyrings/containerd.asc
            mode: "0644"
        - name: Containerd
          become: true
          become_user: root
          ansible.builtin.apt_repository:
          # yamllint disable-line rule:line-length
            repo: "deb [arch=arm64 signed-by=/etc/apt/keyrings/containerd.asc] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
            state: present
    - name: K8s
      block:
        - name: K8s key
          # Note - documentation suggests key remains static - need to validate this.
          become: true
          become_user: root
          ansible.builtin.get_url:
            url: https://pkgs.k8s.io/core:/stable:/v1.31/deb/Release.key
            dest: /etc/apt/keyrings/k8s.asc
            mode: "0644"
        - name: K8s Remove 1.29
          become: true
          become_user: root
          ansible.builtin.apt_repository:
            repo: "deb [signed-by=/etc/apt/keyrings/k8s.asc] https://pkgs.k8s.io/core:/stable:/v1.29/deb/ /"
            state: absent
            mode: "0644"
        - name: K8s Remove 1.30
          become: true
          become_user: root
          ansible.builtin.apt_repository:
            repo: "deb [signed-by=/etc/apt/keyrings/k8s.asc] https://pkgs.k8s.io/core:/stable:/v1.30/deb/ /"
            state: absent
            mode: "0644"
        - name: K8s Remove 1.31
          become: true
          become_user: root
          ansible.builtin.apt_repository:
            repo: "deb [signed-by=/etc/apt/keyrings/k8s.asc] https://pkgs.k8s.io/core:/stable:/v1.31/deb/ /"
            state: absent
            mode: "0644"
        - name: K8s remove 1.32
          become: true
          become_user: root
          ansible.builtin.apt_repository:
            repo: "deb [signed-by=/etc/apt/keyrings/k8s.asc] https://pkgs.k8s.io/core:/stable:/v1.32/deb/ /"
            state: absent
            mode: "0644"
        - name: K8s Install 1.33
          become: true
          become_user: root
          ansible.builtin.apt_repository:
            repo: "deb [signed-by=/etc/apt/keyrings/k8s.asc] https://pkgs.k8s.io/core:/stable:/v1.33/deb/ /"
            state: present
            mode: "0644"
      tags: 
        - updatek8sbin
    - name: Install Containerd.io
      become: true
      become_user: root
      ansible.builtin.apt:
        pkg:
          - containerd.io
      notify:
        - Configure Containerd
    - name: Unhold Kubelet
      become: true
      become_user: root
      ignore_errors: True
      ansible.builtin.dpkg_selections:
        name: kubelet
        selection: install
    - name: Unhold kubeadm
      ignore_errors: True
      become: true
      become_user: root
      ansible.builtin.dpkg_selections:
        name: kubeadm
        selection: install
    - name: Unhold Kubectl
      ignore_errors: True
      become: true
      become_user: root
      ansible.builtin.dpkg_selections:
        name: kubectl
        selection: install
    - name: Install Kubernetes
      become: true
      become_user: root
      ansible.builtin.apt:
        pkg:
          - kubelet=1.33.5-1.1
          - kubeadm=1.33.5-1.1
          - kubectl=1.33.5-1.1
      notify:
        - Reload kubelet
    - name: Run Node upgrades
      become: true
      become_user: root
      when: inventory_hostname in groups["workers"]
      ansible.builtin.command:
        cmd: kubeadm upgrade node
    - name: Hold kube versions after run
      ansible.builtin.debug:
        msg: holding kuelet, kubeadm and kubectl
      notify:
        - Hold kubelet
        - Hold kubeadm
        - Hold kubectl
  handlers:
      #Moved from raw to template file... cleaner
    - name: Configure Containerd
      become: true
      become_user: root
      ansible.builtin.template: 
        src: etc-containerd-config.toml.j2
        dest: /etc/containerd/config.toml
        owner: "root"
        group: "root"
        mode: "0644"
      notify: Enable and Restart Containerd
      changed_when: true
    - name: Enable and Restart Containerd
      become: true
      become_user: root
      ansible.builtin.systemd_service:
        name: containerd
        enabled: true
        state: restarted
    - name: Hold kubelet
      become: true
      become_user: root
      ansible.builtin.dpkg_selections:
        name: kubelet
        selection: hold
    - name: Hold kubeadm
      become: true
      become_user: root
      ansible.builtin.dpkg_selections:
        name: kubeadm
        selection: hold
    - name: Hold kubectl
      become: true
      become_user: root
      ansible.builtin.dpkg_selections:
        name: kubectl
        selection: hold
    - name: Reload kubelet
      become: true
      become_user: root
      ansible.builtin.systemd_service:
        daemon_reload: true
        name: kubelet
        state: restarted
